name: Terraform Validate

run-name: ${{ github.actor }} - ${{ github.ref_name }}

on:
  pull_request:
    branches: ["main"]

  workflow_dispatch:

jobs:        
  terraform_validate:
    name: "Format and Validate Code"
    runs-on: ubuntu-latest
    
    permissions: 
       id-token: write 
       contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.8.4

    - name: Check backend configuration
      run: |
        if ! grep -q 'backend "azurerm"' ./*.tf; then
          echo "Azure backend configuration not found!"
          exit 1
        fi
        echo "Azure backend configuration is present!"
    
    - name: Terraform Fmt
      run: terraform fmt -check -recursive -diff
    
    - name: Log in to Azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
        enable-AzPSSession: false
        environment: azurecloud
        allow-no-subscriptions: false
        audience: api://AzureADTokenExchange
  
    - name: Terraform Init
      run: terraform init
  
    - name: Terraform Validate
      run: terraform validate
